@import "./_variables.css";
@import "./_keyframes.css";
@import "../../../node_modules/libraries-frontend-framelunch/css/_reset.css";

body {
    font-family: var(--fontFamily-base);
    background: var(--color-main);
    color: var(--color-font);

    @media (--not-sp) {
        background: var(--color-gray);
    }
}

/* stylelint-disable-next-line */
*, *::before, *::after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    appearance: none;
}

pre {
    font-family: var(--fontFamily-base);
    font-weight: var(--fontWeight-normal);
}
