@import "libraries-frontend-framelunch/css/_reset.css";
@import "./_variables.css";
@import "./_keyframes.css";

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fontFamily-base);
    font-size: 1.4rem;
    transition: background-color 0.3s var(--easeOut-expo);
}


/* stylelint-disable-next-line */
*, *::before, *::after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    appearance: none;
}

pre {
    font-family: var(--fontFamily-base);
    font-weight: var(--fontWeight-normal);
}
