@import "libraries-frontend-framelunch/css/_reset.css";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

/* stylelint-disable-next-line */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

button,
input[type="button"],
input[type="submit"] {
    appearance: none;
    border: 0;
    outline: none;
    background: transparent;
}

pre {
    font-family: var(--fontFamily-base);
    font-weight: var(--fontWeight-normal);
}
