@font-face {
    font-family: YuGothicM;
    src: local("Yu Gothic Medium");
}

html {
    /*
     * color(base)
     */

    /*
     * color(famous)
     */

    /*
     * z-index
     */

    /*
     * font
     * http://mw-s.jp/2017css-font-win-mac/
     * http://silight.hatenablog.jp/entry/2015/07/02/214601
     */

    /*
     * easing
     */         /* http://easings.net/ja#easeInSine */        /* http://easings.net/ja#easeOutSine */    /* http://easings.net/ja#easeInOutSine */       /* http://easings.net/ja#easeInQuad */       /* http://easings.net/ja#easeOutQuad */  /* http://easings.net/ja#easeInOutQuad */     /* http://easings.net/ja#easeInCubic */       /* http://easings.net/ja#easeOutCubic */    /* http://easings.net/ja#easeInOutCubic */     /* http://easings.net/ja#easeInQuart */        /* http://easings.net/ja#easeOutQuart */         /* http://easings.net/ja#easeInOutQuart */     /* http://easings.net/ja#easeInQuint */            /* http://easings.net/ja#easeOutQuint */          /* http://easings.net/ja#easeInOutQuint */      /* http://easings.net/ja#easeInExpo */             /* http://easings.net/ja#easeOutExpo */                 /* http://easings.net/ja#easeInOutExpo */        /* http://easings.net/ja#easeInCirc */        /* http://easings.net/ja#easeOutCirc */   /* http://easings.net/ja#easeInOutCirc */      /* http://easings.net/ja#easeInBack */    /* http://easings.net/ja#easeOutBack */   /* http://easings.net/ja#easeInOutBack */

    /*
     * layout
     */
}

/* breakpoints */

@-webkit-keyframes funyafunya {
    from {
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    }

    12.5% {
        border-radius: 80% 30% 50% 50%/50%;
    }

    25% {
        border-radius: 40% 40% 50%/30% 50% 50%;
    }

    37.5% {
        border-radius: 20% 30% 56% 70%/80% 50% 70% 20%;
    }

    50% {
        border-radius: 5%;
    }

    62.5% {
        border-radius: 3%;
    }

    75% {
        border-radius: 2%;
    }

    86.5% {
        border-radius: 1%;
    }

    to {
        border-radius: 0;
    }
}

@keyframes funyafunya {
    from {
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    }

    12.5% {
        border-radius: 80% 30% 50% 50%/50%;
    }

    25% {
        border-radius: 40% 40% 50%/30% 50% 50%;
    }

    37.5% {
        border-radius: 20% 30% 56% 70%/80% 50% 70% 20%;
    }

    50% {
        border-radius: 5%;
    }

    62.5% {
        border-radius: 3%;
    }

    75% {
        border-radius: 2%;
    }

    86.5% {
        border-radius: 1%;
    }

    to {
        border-radius: 0;
    }
}

/* stylelint-disable */

body, div, dl, dt, dd, ul, ol, li, hr, h1, h2, h3, h4, h5, h6, address,
pre, code, form, fieldset, legend, input, button, textarea, p, blockquote,
table, th, td, iframe, form, fieldset, input, button, select, optgroup, option,
textarea, label, legend, span, em, strong, dfn, code, samp, kbd, var, cite, abbr,
acronym, q, br, ins, del, a, img, object {
    margin: 0;
    padding: 0;
}

html {
    /* htmlのfont-sizeが62.5%のとき、1rem ≒ 10pxとなる */
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
}

div, blockquote, p, pre, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, address,
table, caption, th, td, span, em, strong, dfn, code, samp, kbd, var, cite, abbr, acronym, q, br,
ins, del, a, img, object, iframe {
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: bottom;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background: #f0f0f0;
    color: #111;
}

@media (min-width: 768px) {

body {
        background: #777
}
    }

/* stylelint-disable-next-line */

*, *:before, *:after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #111;
    background: #f0f0f0;
    transition: background-color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* stylelint-disable-next-line selector-no-universal */

*,
:before,
:after {
    box-sizing: border-box;
}
