{% import 'FormPartsForAdmin.twig' as m %}
<form method="post" action="{{ getFormAction() }}">
  {{ formSettingForOptions(root) }}
  <table>
    <tbody>
    {% for element in elements %}
      {{ m.render(element) }}
    {% endfor %}
    </tbody>
  </table>
  {{ putSubmitButton()|raw }}
</form>
