@import "modules/_global.css";

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-base);
    font-size: 1.4rem;
    color: var(--color-font);
    background: var(--color-main);
}

/* stylelint-disable-next-line selector-no-universal */
*,
::before,
::after {
    box-sizing: border-box;
}
