@import "modules/_common.css";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4em;
    color: var(--font);
}

/* stylelint-disable-next-line selector-no-universal */
*,
::before,
::after {
    box-sizing: border-box;
}
